{% extends "base.html" %}

<!-- {% block head %}

{% endblock %}

{% block body %} -->

{% block content %}

<div>Input your ID or Leave Blank for All Photos</div>
<form id="userIDForm" class="form-container">
        <input autocomplete="off" autofocus name="name" placeholder="Who are you?" type="text" id="getID">
        <button type="submit">See My Photos</button>
</form>

<div id="displayResult"></div>

{% endblock %}

<!-- {% endblock %} -->
 {% block scripts %}
    <!-- This puts the script tag into the base.html 'scripts' block -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}